{% extends 'base.html' %} {% load static %} {% block contenido %}
  {% block content %}
    <a href="{% url 'arrendatario_update' user_profile.rut %}">Editar Perfil</a>
    <h2>Perfil de Arrendatario</h2>
    <p>Nombre: {{ user_profile.nombre_1 }} {{ prouser_profilefile.apellido_1 }}</p>
    <p>RUT: {{ user_profile.rut }}</p>
    <p>Teléfono: {{ user_profile.telefono }}</p>
    <p>Email: {{ user_profile.usuario.email }}</p>

    <h3>Inmuebles Arrendados:</h3>
    {% if user_profile.inmuebles.all %}
      <ul>
        {% for inmueble in user_profile.inmuebles.all %}
          <li>{{ inmueble.nombre }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No has arrendado ningún inmueble todavía.</p>
    {% endif %}
  {% endblock %}
{% endblock %}
