{% extends 'base.html' %} {% load static %} {% block contenido %}
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Perfil de Arrendador</h5>
      <p class="card-text">
        <strong>Nombre:</strong> {{ user_profile.nombre_1 }} {{ user_profile.apellido_1 }}
      </p>
      <p class="card-text">
        <strong>RUT:</strong> {{ user_profile.rut }}
      </p>
      <p class="card-text">
        <strong>Teléfono:</strong> {{ user_profile.telefono }}
      </p>
      <p class="card-text">
        <strong>Email:</strong> {{ user_profile.usuario.email }}
      </p>
      <h5 class="mt-3">Inmuebles Publicados:</h5>
      {% if inmuebles_publicados %}
        <div class="row">
          {% for inmueble in inmuebles_publicados %}
            <div class="col-md-4">
              <div class="card inmueble-card mb-3">
                <div class="card-header">
                  <h2>{{ inmueble.nombre }}</h2>
                </div>
                <div class="card-body">
                  {% if inmueble.imagenes.all %}
                    <img src="{{ inmueble.imagenes.first.imagen.url }}" class="img-fluid mb-3 thumbnail" alt="Imagen del inmueble" />
                  {% else %}
                    <p>No hay imágenes disponibles para este inmueble.</p>
                  {% endif %}
                  <p class="card-text">
                    <strong>Descripción:</strong> {{ inmueble.description }}
                  </p>
                  <p class="card-text">
                    <strong>Metros Construidos:</strong> {{ inmueble.m2_construidos }} m²
                  </p>
                  <p class="card-text">
                    <strong>Metros Totales:</strong> {{ inmueble.m2_totales }} m²
                  </p>
                  <p class="card-text">
                    <strong>Estacionamientos:</strong> {{ inmueble.estacionamientos }}
                  </p>
                  <p class="card-text">
                    <strong>Habitaciones:</strong> {{ inmueble.cantidad_habitaciones }}
                  </p>
                  <p class="card-text">
                    <strong>Baños:</strong> {{ inmueble.cantidad_banos }}
                  </p>
                  <p class="card-text">
                    <strong>Tipo de Inmueble:</strong> {{ inmueble.get_tipo_de_inmueble_display }}
                  </p>
                  <p class="card-text">
                    <strong>Precio de Arriendo:</strong> ${{ inmueble.precio_arriendo }}
                  </p>
                  <p class="card-text">
                    <strong>Comuna:</strong> {{ inmueble.direccion_id.comuna.nombre }}, {{ inmueble.direccion_id.comuna.region.nombre }}
                  </p>
                  <p class="card-text">
                    <strong>Estado:</strong> {{ inmueble.get_estado_display }}
                  </p>
                  <a href="{% url 'vista_inmueble' inmueble.id %}" class="btn btn-primary btn-sm">Ver más</a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <p class="text-muted">No tienes inmuebles publicados todavía.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
