{% extends 'base.html' %} {% load static %} {% block contenido %}
  <h1>Inmuebles</h1>

  <form method="get" id="filter-form">
    <label for="region">Región:</label>
    <select name="region" id="id_region">
      <option value="">----</option>
      {% for region in regiones %}
        <option value="{{ region.id }}">{{ region.nombre }}</option>
      {% endfor %}
    </select>

    <label for="tipo_de_inmueble">Tipo de Inmueble:</label>
    <select name="tipo_de_inmueble" id="id_tipo_de_inmueble">
      <option value="">----</option>
      {% for value, label in tipos_de_inmueble %}
        <option value="{{ value }}">{{ label }}</option>
      {% endfor %}
    </select>

    <label for="imagenes">Contiene Imágenes:</label>
    <select name="imagenes" id="id_imagenes">
      <option value="">----</option>
      <option value="Not Null">Si</option>
      <option value="Null">No</option>
    </select>
  </form>

  <ul>
    {% for inmueble in inmuebles %}
      <li>{{ inmueble.nombre }} - {{ inmueble.description }} - {{ inmueble.direccion.comuna }}</li>
      <a href="{% url 'vista_inmueble' inmueble.id %}">Ver</a>
    {% empty %}
      <li>No se encontraron inmuebles.</li>
    {% endfor %}
  </ul>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const form = document.getElementById('filter-form')
      const regionSelect = document.getElementById('id_region')
      const tipoInmuebleSelect = document.getElementById('id_tipo_de_inmueble')
      const imagenesSelect = document.getElementById('id_imagenes')
    
      function applyFilters() {
        form.submit()
      }
    
      regionSelect.addEventListener('change', applyFilters)
      tipoInmuebleSelect.addEventListener('change', applyFilters)
      imagenesSelect.addEventListener('change', applyFilters)
    
      // Set the initial values from the URL parameters
      const urlParams = new URLSearchParams(window.location.search)
      if (urlParams.has('region')) {
        regionSelect.value = urlParams.get('region')
      }
      if (urlParams.has('tipo_de_inmueble')) {
        tipoInmuebleSelect.value = urlParams.get('tipo_de_inmueble')
      }
      if (urlParams.has('imagenes')) {
        imagenesSelect.value = urlParams.get('imagenes')
      }
    })
  </script>
{% endblock %}
